body {
    
    min-height: 500px;}

.logo {
    width: 500px;
    position: absolute;
    /* top: 350px;
    left: 960px; */
    top: 200px;
    left: 700px;
    opacity: 0.3;
    animation: logo 2s infinite alternate;
}

table {
    position: relative;
}

.navbar {
    height: 30px;
    background : linear-gradient(to right, rgb(65, 105, 225), rgb(248, 101, 3), royalblue);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    animation: nav ease-out infinite alternate;
    animation-play-state: running;
    animation-duration: 0.3s;
    
}

.fixed-bottom {
    height: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;

    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: royalblue;
    letter-spacing: 10px;
    word-spacing: 20px;
}

@keyframes nav {
    from {
        background : linear-gradient(to right, rgb(65, 105, 225), rgb(248, 101, 3), royalblue);
    }
    
    to {
        background : linear-gradient(to right,rgb(248, 101, 3),  rgb(65, 105, 225), rgb(248, 101, 3));
    }
 
}

@keyframes logo {
    from {
        transform: scale(0.5) ;
    }

    to {
        transform: scale(1) ;
    }

    
    
}




